<meta name="msvalidate.01" content="54EE903CE3453289469F2E9A35B12452" />
<meta name="facebook-domain-verification" content="f7j8ben8crtgzuu97yndmpquk70yr4" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DMTN3T999G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DMTN3T999G');
</script>

<!-- Google tag (gtag.js) 2 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-14BPPSSEQ5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-14BPPSSEQ5');
</script>
